@import 'colors';

.article__image-container {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 20px;
}

.article__image,
.article__video {
  width: 70%;
  height: 250px;
  object-fit: cover;
}

.article__image--truth {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%)
}

.article__image--false {
  clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
}

.article__image--false {
  filter: grayscale(1);
  margin-right: -40%;
  transition: filter .5s;
}

.article__title,
.article__content {
  margin: -8px 0 0 0;
  padding: 12px;
}

.article__title {
  background-color: $primary-color;
  color: $secondary-color;
  height: 3rem;
  position: relative;
  
  a {
    color: $title-accent-color;
    text-decoration: none;
  }
}

.article-image-link {
  display: flex;
  position: relative;

  &::after,
  &::before {
    position: absolute;
    border: 3px solid;
    border-radius: 8px;
    padding: 5px;
    z-index: 999;
    font-weight: 900;
    animation: glow 1s ease-in 8 reverse;
    box-shadow: 0 0 10px;
  }

  &::before {
    content: 'FACT';
    color: $true-color;
    top: 15px;
    right: 15px;
    transform: rotate(30deg);
  }

  &::after {
    content: 'FAKE';
    color: $false-color;
    bottom: 15px;
    left: 15px;
    transform: rotate(-30deg);
  }
}

.article__content {
  background: $secondary-color;
  color: $primary-color;
  height: 100px;
  overflow: scroll;
  scrollbar-width: none;
}

.article__content::-webkit-scrollbar {
  width: 0;
}

.article__date {
  background-color: $accent-color;
  position: relative;
  padding: 10px;

  &::after {
    display: block;
    background-color: $accent-color;
    content: " ";
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

  svg {
    vertical-align: middle;
    margin-left: 8px;
    margin-top: -4px;
  }
}

@keyframes glow {
  0% {
    opacity: .8;
  }

  50% {
    opacity: .3;
  }

  100% {
    opacity: .8;
  }
}