@import 'colors';

.title {
    text-align: center;
    margin: 50px 0;

    span {
        color: $secondary-color;
        position: relative;
        padding: 25px;

        &::after {
            display: block;
            position: absolute;
            content: '';
            background-color: $primary-color;
            top: -0.4rem;
            left: 0;
            clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
            height: 5rem;
            width: 100%;
            z-index: -1;
        }
    }

}

.image-wrapper {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

.image-container {
    position: relative;
    flex-basis: 200px;
    flex-grow: 1;

    &::after {
        display: block;
        width: 60px;
        height: 60px;
        position: absolute;
        top: 0;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%);
        z-index: 999;
        font-size: 2.5rem;
        box-sizing: border-box;
        padding-top: 6px;
        padding-right: 6px;
    }
}

.image-container--false {
    border-left: 8px solid $primary-color;
    img {
        filter: grayscale(1);
    }
    &::after {
        content: '\00d7';
        background-color: $primary-color;
        color: $false-color;

    }
}

.image-container--truth {
    border-left: 8px solid $secondary-color;
    &::after {
        content: '\2713';
        background-color: $secondary-color;
        color: $true-color;
    }
}

.article__image,
.article__video {
    width: 100%;
    display: block;
}

.subtitle-wrapper,
.excerpt-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.subtitle {
    font-size: 1.2rem;
}

.subtitle,
.excerpt {
    flex-basis: 200px;
    flex-grow: 1;
    margin: 0;
}

.subtitle:first-child,
.excerpt:first-child {
    border-left: 5px solid;
}

.subtitle:last-child,
.excerpt:last-child {
    padding-right: 10px;
}

.article__content {
    text-align: justify;
}