@import 'colors';

.article__image-container {
  position: relative;
  border-top: 5px solid $secondary-color;

  &:hover .article__image--false {
    filter: none;
  }

  &::before {
    content: '\2713';
    display: block;
    width: 60px;
    height: 60px;
    background: $secondary-color;
    color: $true-color;
    font-size: 2.5rem;
    position: absolute;
    top: -1px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    z-index: 999;
  }

  &::after {
    content: '\00d7';
    display: block;
    width: 60px;
    height: 60px;
    background: $primary-color;
    color: $false-color;
    font-size: 2.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-clip-path: polygon(0 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 100%, 0 100%);
    z-index: 999;
    padding-right: 38px;
    padding-top: 19px;
    box-sizing: border-box;
}
}

.article__image,
.article__video {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.article__image--truth {
  clip-path: polygon(0 0, 100% 100%, 100% 0%);
  position: relative;
  z-index: 99;
}

.article__image--false {
  position: absolute;
  right: 0;
  top: 0;
  filter: grayscale(1);
  transition: filter .5s;
}

.article__title,
.article__content {
  margin: -8px 0 0 0;
  padding: 12px;
}

.article__title {
  background-color: $primary-color;
  color: $secondary-color;
  height: 3rem;
  position: relative;
  
  a {
    color: $title-accent-color;
    text-decoration: none;
  }
}

.article__content {
  background: $secondary-color;
  color: $primary-color;
  height: 100px;
  overflow: scroll;
  scrollbar-width: none;
}

.article__content::-webkit-scrollbar {
  width: 0;
}

.article__date {
  background-color: $accent-color;
  position: relative;
  padding: 10px;

  &::after {
    display: block;
    background-color: $accent-color;
    content: " ";
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

  svg {
    vertical-align: middle;
    margin-left: 8px;
    margin-top: -4px;
  }
}
