@import "colors";

.wrapper {
  display: initial;
}

.section {
  display: initial;
}

.section__title {
  display: initial;
}

.section__text {
  display: initial;
}

.links {
  display: initial;
}

.links__item {
  display: initial;
}

.links__item-image {
  display: initial;
}

.links__item-icon {
  display: initial;
}

