@import "colors";
@import "sizes";

html {
  direction: rtl;
  font-family: 'Almarai', sans-serif;
  font-size: calc(14px + .15vw);
  background-image: url('../public/assets/imgs/bg.svg');
  background-color: #ffffffa8;
  background-blend-mode: overlay;
  line-height: 1.4rem;
}

.title-special {
  font-family: 'Blaka Ink', cursive;
}

.MuiTimeline-root * {
  font-family: 'Almarai', sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  min-height: 65vh;
  
  @media (max-width: $mobile-width) {
  }   

  @media (min-width: $mobile-width) and (max-width: $tablet-width) {
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    max-width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
  }
}
