@import "colors";
@import "sizes";

.title {
  text-align: center;
  font-size: .8rem;
  margin: 0;
}

.title--truth,
.title--false {
  border: 2px solid;
  border-radius: 8px;
  padding: 3px;
  opacity: .7;
  box-shadow: 0 0 5px;
  margin: 0 10px;
}

.title--truth {
  color: $true-color;
}

.title--false {
  color: $false-color;
}

.wrapper {
  display: flex;
}

.logo-container {
  flex-basis: 80px;
  margin-right: 20px;

  img {
    width: 100%;
  }
}

.logo__title {
  position: absolute;
  font-size: 18px;
  top: 95px;
}

.logo-title--truth {
  color: $secondary-color;
  position: relative;
  top: -8px;
  right: 4px;
}

.logo-title--false {
  color: $primary-color;
}

.nav-wrapper {
  flex-grow: 1;
  margin: 12px 24px 3px 0;
  background-color: $primary-color;
  font-size: 1.3rem;
}

.nav {}

.nav-menu {
  display: flex;
  margin: 0;
  padding: 0;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    align-items: start;
    position: absolute;
    background: $primary-color;
    left: -100%;
    top: 88px;
    padding: 25px;
    z-index: 1000;
    transition: left .5s ease-in;
  }
}

.nav-menu--active {
  left: -5px;
}

.mobile-nav {
  float: left;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.mobile-nav__button {
  color: $secondary-color;
  font-size: 3rem;
  cursor: pointer;
  padding: 10px;
}

.nav__item {
  list-style: none;
  flex-grow: 1;
  text-align: center;

  a {
    color: $secondary-color;
    text-decoration: none;
    width: 100%;
    display: inline-block;
    padding: 19px 0;
  }
}

.nav__item:hover {
  background-color: $secondary-color;

  a {
    color: $primary-color;
  }
}

.nav__text {
  margin-right: 6px;
  vertical-align: top;
}