@import 'colors';

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}

.post {
  flex-basis: 400px;
  border: 10px solid;
  overflow: hidden;
}

.post--true {
  border-color: $secondary-color;
}

.post--false {
  border-color: $primary-color;

  img {
    filter: grayscale(1);
  }
}

.post__image {
  max-width: 140%;
  margin-right: -85px;
}

.post__title {
  text-align: center;
}


