
@import 'colors';

.wrapper {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.article_section {
    flex-basis: 300px;
    flex-grow: 6;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    &>* {
        flex-basis: 325px;
        flex-grow: 1;
    }
    
}

.sidebar_section  {
    flex-basis: 250px;
    flex-grow: 1;
    margin: 35px 0;
}
