@import 'colors';

.wrapper:first-child {
    .type__title {
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
        margin-bottom: -15px;
    }
}

.wrapper:nth-child(even) {
    .type__title {
        clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
        margin: -15px 0;
    }
}

.wrapper:nth-child(2n+3) {
    .type__title {
        clip-path: polygon(0 0, 100% 20%, 100% 80%, 0 100%);
        margin: -15px 0;
    }
}

.wrapper:last-child {
    border-bottom: 5px solid $primary-color;

    .type__reports {
        padding-bottom: 0;
    }
}

.type__title {
    background-color: $primary-color;
    color: $secondary-color;
    font-size: 1.2rem;
    margin: 0;
    padding: 25px 0;
    text-align: center;
}

.type_reports {
    background-color: $secondary-color;
    padding-bottom: 25px;
}

.type__report {
    display: flex;
    gap: 12px;
    padding: 12px;
    height: 100px;
}

.type__report:first-child {
    padding-top: 30px;
}

.type__report:not(:last-child) {
    border-bottom: 1px solid $primary-color;
}

.type__image_container {
    position: relative;
    border-left: 5px solid $primary-color;

    &::after {
        content: ' ';
        display: block;
        width: 30px;
        height: 30px;
        background: $primary-color;
        position: absolute;
        top: 0;
        clip-path: polygon(0 0, 100% 0, 100% 100%);
    }
}

.type__image,
.type__video {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.type__report_text {
    margin: 0;
    height: 5.5rem;
    overflow: hidden;
}
